<scritpt src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>
        const swiper = new swiper('.swiper',{spaceBetween: 10, 
        slidesPerviw: 3,
          pagination: {
          el: ',swiper-paginaton',
            type:'bullets',               
                      },
});

        
